<!-- will be accessed in home_controller.js -->
<!-- removing common part for layout
<html>
  <head>
      <title><%= title %></title>
  </head> -->
  <!-- including partials -->
  <!--  include('_header.ejs');  -->

<link rel="stylesheet" href="<%=assetPath('/css/home.css')%>">
<link rel="stylesheet" href="<%=assetPath('css/chat_box.css')%>">

<div id="home-container">
 <section id="feed-posts">
  <h4>Posts</h4>
  <% if (locals.user){ %> <!--only user will throw error -->
    <form action="/posts/create" id="new-post-form" method="POST">
      <textarea required name="content" cols="30" rows="3" placeholder="Type here..."></textarea>
      <input type="submit" value="Post">
    </form>
  <% } %>
  <!-- displaying individual posts -->
  <div id="posts-list-container">
    <ul>
      <% for (i of posts){ %>
          <%-include('_post');%>  
      <% } %>
    </ul>
  </div>          
</section>
<!-- to show all the friends -->
<% if(locals.user){ %>
<section id="user-friends">
  <h4>Your friends</h4>
  <% for(a of all_friends){%>
     <p>
       <a href="/users/profile/<%=a.to_user._id%>"><%=a.to_user.name%></a>
     </p>
  <% } %>
</section>

<% } %>
<!-- to show all the users -->
<section id="user-friends">
  <h4>All the users</h4>
  <% for(u of all_users) {%>
     <p>
       <a href="/users/profile/<%=u.id%>"><%=u.name%></a>
     </p>
  <% } %>
</section>
<!-- chatbox -->
  <%-include('_chatbox',{chats:chats});%>
</div>
<!-- script for ajax posts -->
<script type="text/javascript" src="<%=assetPath('js/home_comments.js')%>"></script>
<script type="text/javascript" src="<%=assetPath('js/home_posts.js')%>"></script>
<!-- script for toggling likes --> 
<script type="text/javascript" src="<%=assetPath('js/toggle_likes.js')%>"></script>
<script>
  // adding toggleLike class for ajax request on each like link
  $('.toggle-like-button').each(function(){
    let self=this; 
    let toggleLike=new ToggleLike(self);
  })
</script>
<!-- includeing sockets for chat engine -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js" integrity="sha512-9mpsATI0KClwt+xVZfbcf2lJ8IFBAwsubJ6mI3rtULwyM3fBmQFzj0It4tGqxLOGQwGfJdk/G+fANnxfq9/cew==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript" src="/js/chat_engine.js"></script>
<!-- adding this script to start connection with sockets for chat engine  -->
<% if(locals.user) {%>
<script>
  // passing id of the chat box to it (user-chat-box), found in _chatbox.ejs
  new ChatEngine('user-chat-box','<%=locals.user.email%>','<%=locals.user.name%>','<%=locals.user.id%>')
</script>
<% } %>
<!--  include('_footer'); -->
<!-- </html>  -->
