<html>
  <head>
      <title><%= title %></title>
      <!-- for common pages -->
      <link rel="stylesheet" href="/css/layout.css" type="text/css">
      <link rel="stylesheet" href="/css/header.css" type="text/css">
      <link rel="stylesheet" href="/css/footer.css" type="text/css">
      <!-- for sub pages -->
      <%- style %>
    </head>
    <body>
  <!-- the common part -->
  <%- include('_header.ejs'); %>
 
     <main id="layout-main">
      <!-- the variable part will be filled from the controller -->
      <%- body %>
    </main>
  <%- include('_footer'); %>
</body>
  <!-- for sub pages (if there is a link or script tag in the body it will automatically place it at the specified place)-->
  <%- script %>
</html>
