 <!-- removing common part for layout -->
<!-- <html>
  <head>
      <title><%= title %></title>
  </head>
  include('_header');  
 
    include('_footer'); 
  </html> -->


<link rel="stylesheet" href="/css/user_profile.css">

<!-- showing the avatar -->
<img src="<%=profile_user.avatar%>" alt="<%=profile_user.name%>" width="100px" >


<!-- if the user who is logged in clicked on its own name then display a form to them -->
<% if(profile_user.id==user.id) { %>
  <!-- can change their info -->
  <!-- for using file uploads we are putting enctype -->
   <form action="/users/update/<%=user.id%>" method="POST" enctype="multipart/form-data">
       <input type="text" name="name" placeholder="Your name" value="<%=profile_user.name%>" required>
       <input type="email" name="email" placeholder="Your email" value="<%=profile_user.email%>" required>
       <input type="file" name="avatar"  placeholder="Profile Picture">
       <input type="submit" value="update">
    </form>
    
<% } else { %>
  <!-- if the user is different then show only profile info -->
  <h1>Hello, <%=profile_user.name%> from user_profile</h1>
  <p><%=profile_user.email%></p>
  <!-- adding this user as friendship -->
  <% if(exists){ %>
    <a href="/friends/delete/?uid=<%=user.id%>&fid=<%=profile_user.id%>">Remove as friend</a>
  <% }else{ %>
    <a href="/friends/add/?uid=<%=user.id%>&fid=<%=profile_user.id%>">Add Friend</a>
  <% } %>
  
  
<% } %>